name: check-env

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-env:
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      - name: Setup Moon
        uses: illusory0x0/setup-moonbit@v0.1.0
        with:
          version: stable

      - name: moon version
        run: |
          moon version --all

      - name: install module dependencies
        run: |
          moon update
          moon install

      - name: moon build
        run: moon build --target js

      - name: deno test
        run: deno test -A
